---
import "../global.css";
---

<html lang="pt-br">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Kayky Zioti</title>
		<link
			rel="stylesheet"
			href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
		/>
	</head>
	<body>
		<div
			class="bg-neutral-800 w-full h-screen flex items-center justify-center"
		>
			<div
				class="h-[40vh] w-[40vh] fixed bg-neutral-600 rounded-full justify-center items-center blur-[150px] z-0"
				id="bolha"
			>
			</div>
			<div
				class="w-screen h-screen fixed z-10 bg-neutral-800/50 backdrop-blur-3xl grid grid-cols-1 md:grid-cols-2 gap-4"
			>
				<div
					class="w-full h-full flex flex-col justify-between items-start p-10 md:p-20 lg:p-30 overflow-hidden"
				>
					<div class="w-full overflow-hidden">
						<h1 class="text-4xl text-white font-bold">
							Kayky Zioti Silva
						</h1>
						<p
							class="text-white uppercase leading-10 text-sm font-light tracking-widest opacity-70"
						>
							Desenvolvedor Full-Stack
						</p>
						<p
							class="text-sm text-justify w-full text-neutral-400 font-light mt-5"
						>
							Full-stack Developer | Performance, UXUI & Lead
							Generation Systems
						</p>
					</div>

					<div
						class="mt-5 w-full text-white justify-start items-start flex flex-col gap-5"
					>
						<ul
							class="w-full justify-start items-start flex flex-col gap-5"
						>
							<li
								class="w-full flex gap-2 items-center group text-neutral-400 hover:text-white transition-all duration-300 cursor-pointer"
							>
								Sobre
								<div
									class="w-5 h-[1px] group-hover:w-20 bg-neutral-400 group-hover:bg-white transition-all duration-300"
								>
								</div>
							</li>
							<li
								class="w-full flex gap-2 items-center group text-neutral-400 hover:text-white transition-all duration-300 cursor-pointer"
							>
								Experiência Profissional
								<div
									class="w-5 h-[1px] group-hover:w-20 bg-neutral-400 group-hover:bg-white transition-all duration-300"
								>
								</div>
							</li>
							<li
								class="w-full flex gap-2 items-center group text-neutral-400 hover:text-white transition-all duration-300 cursor-pointer"
							>
								Principais Projetos
								<div
									class="w-5 h-[1px] group-hover:w-20 bg-neutral-400 group-hover:bg-white transition-all duration-300"
								>
								</div>
							</li>
							<li
								class="w-full flex gap-2 items-center group text-neutral-400 hover:text-white transition-all duration-300 cursor-pointer"
							>
								Principais Técnologias
								<div
									class="w-5 h-[1px] group-hover:w-20 bg-neutral-400 group-hover:bg-white transition-all duration-300"
								>
								</div>
							</li>
						</ul>
					</div>

					<div class="flex justify-start items-start gap-4">
						<a
							href="https://www.linkedin.com/in/kaykyzioti/"
							target="_blank"
							class="h-8 w-8 opacity-40 hover:opacity-100 transition-opacity duration-300"
						>
							<img src="/linkedin.png" />
						</a>
						<a
							href="https://github.com/KaykyOne"
							target="_blank"
							class="h-8 w-8 opacity-40 hover:opacity-100 transition-opacity duration-300"
						>
							<img src="/github.png" />
						</a>
						<a
							href="https://www.instagram.com/kaykyzioti/"
							target="_blank"
							class="h-8 w-8 opacity-40 hover:opacity-100 transition-opacity duration-300"
						>
							<img src="/instagram.png" />
						</a>
					</div>
				</div>

				<!-- Conteúdo Principal -->
				<div
					class="w-full h-full flex flex-col items-start p-10 pt-10 md:pt-20 lg:pt-30 pr-10 md:pr-20 lg:pr-30 overflow-y-auto gap-4 text-white"
					id="conteudo"
				>
					<h1 class="text-white text-2xl font-semibold">.Sobre</h1>
					<p class="opacity-70 font-light text-justify">
						Olá! Sou Kayky Zioti, um desenvolvedor full-stack
						apaixonado por criar soluções inovadoras e eficientes.
						Com uma sólida experiência em desenvolvimento web, estou
						sempre em busca de novos desafios para aprimorar minhas
						habilidades e contribuir para projetos impactantes.
						Minha jornada no mundo da tecnologia começou cedo, e
						desde então, tenho me dedicado a aprender e crescer como
						profissional. Adoro trabalhar em equipe, compartilhar
						conhecimentos e enfrentar desafios técnicos com
						criatividade e determinação. Se você está procurando um
						desenvolvedor comprometido e apaixonado, estou aqui para
						ajudar a transformar suas ideias em realidade.
					</p>
					<h1 class="text-white text-2xl font-semibold mt-10">
						.Experiência Profissional
					</h1>

					<!--Experiencias -->

					<div class="w-full flex flex-col gap-4">
						<!-- Autoescola Danda -->
						<div
							class="border border-neutral-700 w-full rounded-lg flex gap-2 opacity-80 hover:opacity-100 transition-opacity duration-300 cursor-pointer hover:shadow-lg"
						>
							<div class="justify-center items-center flex p-4">
								<p
									class="text-[12px] text-center uppercase text-neutral-400 whitespace-nowrap w-[100px]"
								>
									2025 - Presente
								</p>
							</div>
							<div
								class="p-4 border-l border-neutral-700 justify-start items-start flex flex-col gap-2"
							>
								<h3 class="font-semibold">
									Social Media & Lead Generation Strategist -
									Autoescola Danda
								</h3>
								<p class="opacity-70 font-light">
									Atualmente, estou liderando a estratégia de
									mídia social e geração de leads para a
									Autoescola Danda, uma empresa inovadora no
									setor de educação de trânsito. Minha função
									envolve a criação e implementação de
									campanhas digitais eficazes, alavancando
									plataformas como Facebook, Instagram e
									LinkedIn para aumentar a visibilidade da
									marca e atrair potenciais clientes. Além
									disso, estou responsável por analisar dados
									de desempenho e ajustar as estratégias
									conforme necessário para maximizar os
									resultados, contribuindo para o crescimento
									sustentável da empresa.
								</p>
								<div class="flex flex-wrap gap-2">
									<span
										class="text-[10px] bg-neutral-700 px-2 py-1 rounded-full opacity-70"
									>
										Meta Ads
									</span>
									<span
										class="text-[10px] bg-neutral-700 px-2 py-1 rounded-full opacity-70"
									>
										Google Ads
									</span>
									<span
										class="text-[10px] bg-neutral-700 px-2 py-1 rounded-full opacity-70"
									>
										UX/UI
									</span>
									<span
										class="text-[10px] bg-neutral-700 px-2 py-1 rounded-full opacity-70"
									>
										Figma
									</span>
									<span
										class="text-[10px] bg-neutral-700 px-2 py-1 rounded-full opacity-70"
									>
										Instagram Ads
									</span>
								</div>
							</div>
						</div>

						<!-- NovusTech -->
						<div
							class="border border-neutral-700 w-full rounded-lg flex gap-2 opacity-80 hover:opacity-100 transition-opacity duration-300 cursor-pointer hover:shadow-lg"
						>
							<div class="justify-center items-center flex p-4">
								<p
									class="text-[12px] text-center uppercase text-neutral-400 whitespace-nowrap w-[100px]"
								>
									2024 - Presente
								</p>
							</div>
							<div
								class="p-4 border-l border-neutral-700 justify-start items-start flex flex-col gap-2"
							>
								<h3 class="font-semibold">
									Desenvolvedor / Founder - NovusTech
								</h3>
								<p class="opacity-70 font-light">
									Desenvolvo soluções web modernas e
									eficientes, liderando projetos desde a
									concepção até a implementação, um exemplo
									foi o <strong>NovusCFC</strong> - Sistema de gestão
									de Autoescolas, que otimizou processos e melhorou
									a experiência do usuário (mais informações em
									Principais Projetos).
								</p>
								<div class="flex flex-wrap gap-2">
									<span
										class="text-[10px] bg-neutral-700 px-2 py-1 rounded-full opacity-70"
									>
										React
									</span>
									<span
										class="text-[10px] bg-neutral-700 px-2 py-1 rounded-full opacity-70"
									>
										Node.js
									</span>
									<span
										class="text-[10px] bg-neutral-700 px-2 py-1 rounded-full opacity-70"
									>
										TypeScript
									</span>
									<span
										class="text-[10px] bg-neutral-700 px-2 py-1 rounded-full opacity-70"
									>
										.NET
									</span>
									<span
										class="text-[10px] bg-neutral-700 px-2 py-1 rounded-full opacity-70"
									>
										PostgreSQL
									</span>
									<span
										class="text-[10px] bg-neutral-700 px-2 py-1 rounded-full opacity-70"
									>
										Docker
									</span>
									<span
										class="text-[10px] bg-neutral-700 px-2 py-1 rounded-full opacity-70"
									>
										UX/UI
									</span>
									<span
										class="text-[10px] bg-neutral-700 px-2 py-1 rounded-full opacity-70"
									>
										Figma
									</span>
								</div>
							</div>
						</div>

						<!-- Autoescola Ideal -->
						<div
							class="border border-neutral-700 w-full rounded-lg flex gap-2 opacity-80 hover:opacity-100 transition-opacity duration-300 cursor-pointer hover:shadow-lg"
						>
							<div class="justify-center items-center flex p-4">
								<p
									class="text-[12px] text-center uppercase text-neutral-400 whitespace-nowrap w-[100px]"
								>
									2023 - 2026
								</p>
							</div>
							<div
								class="p-4 border-l border-neutral-700 justify-start items-start flex flex-col gap-2"
							>
								<h3 class="font-semibold">
									Gerente Administrativo - Autoescola Ideal
								</h3>
								<p class="opacity-70 font-light">
									Responsável por liderar a equipe, otimizando
									processos internos e garantindo a eficiência
									operacional da autoescola, contribuindo para
									o crescimento sustentável do negócio.
									Implementação de sistemas de gestão e
									controle de processos administrativos,
									resultando em uma melhor organização e
									aumento da produtividade. Desenvolvimento de
									estratégias para melhorar a experiência do
									cliente e aumentar a satisfação dos alunos.
								</p>
								<div class="flex flex-wrap gap-2">
									<span
										class="text-[10px] bg-neutral-700 px-2 py-1 rounded-full opacity-70"
									>
										Python
									</span>
									<span
										class="text-[10px] bg-neutral-700 px-2 py-1 rounded-full opacity-70"
									>
										Javascript
									</span>
									<span
										class="text-[10px] bg-neutral-700 px-2 py-1 rounded-full opacity-70"
									>
										UX/UI
									</span>
									<span
										class="text-[10px] bg-neutral-700 px-2 py-1 rounded-full opacity-70"
									>
										Excel
									</span>
								</div>
							</div>
						</div>
					</div>

					<h1 class="text-white text-2xl font-semibold mt-10">
						.Principais Projetos
					</h1>

					<div class="w-full flex flex-col gap-4">
						<!-- NovusCFC - NovusTech -->
						<div
							class="hover:bg-neutral-700 p-4 w-full rounded-lg opacity-80 hover:opacity-100 transition-opacity duration-300 cursor-pointer hover:shadow-lg flex gap-4 items-center group transial"
						>
							<img
								class="bg-neutral-500 w-[300px] h-[100px] rounded-lg bg-center bg-cover"
								src="/novuscfc.png"
							/>

							<div class="flex flex-col w-full">
								<h1>NovusCFC</h1>
								<p class="text-sm font-light text-neutral-300">
									Um sistema de gestão para autoescolas
								</p>
								<div class="flex flex-wrap gap-2 mt-4">
									<span
										class="text-[10px] bg-neutral-700 px-2 py-1 rounded-full opacity-70"
									>
										Typescript
									</span>
									<span
										class="text-[10px] bg-neutral-700 px-2 py-1 rounded-full opacity-70"
									>
										Express.js
									</span>
									<span
										class="text-[10px] bg-neutral-700 px-2 py-1 rounded-full opacity-70"
									>
										Next.js
									</span>
									<span
										class="text-[10px] bg-neutral-700 px-2 py-1 rounded-full opacity-70"
									>
										React
									</span>
									<span
										class="text-[10px] bg-neutral-700 px-2 py-1 rounded-full opacity-70"
									>
										PostgreSQL
									</span>
								</div>
								<div
									class="bg-emerald-700 px-4 py-1 rounded-lg w-fit mt-4"
								>
									<p
										class="text-emerald-200 font-light text-sm"
									>
										Em Produção
									</p>
								</div>
							</div>
							<div
								class="w-[40px] justify-end opacity-0 flex group-hover:opacity-100 transition-all duration-300"
							>
								<span
									class="material-symbols-outlined text-neutral-400"
								>
									arrow_forward_ios
								</span>
							</div>
						</div>

						<!-- ChatBot - NovusTech -->
						<div
							class="hover:bg-neutral-700 p-4 w-full rounded-lg opacity-80 hover:opacity-100 transition-opacity duration-300 cursor-pointer hover:shadow-lg flex gap-4 items-center group transial"
						>
							<div
								class="bg-neutral-500 w-[300px] h-[100px] rounded-lg"
							>
							</div>
							<div class="flex flex-col w-full">
								<h1>Autoatendimento ao Cliente</h1>
								<p class="text-sm font-light text-neutral-300">
									Um chatbot para atendimento ao cliente por
									Whatsapp, onde o cliente pode tirar dúvidas,
									saber sobre valores e serviços oferecidos,
									tendo classificação por Lead e CRM
									integrado.
								</p>
								<div class="flex flex-wrap gap-2 mt-4">
									<span
										class="text-[10px] bg-neutral-700 px-2 py-1 rounded-full opacity-70"
									>
										Typescript
									</span>
									<span
										class="text-[10px] bg-neutral-700 px-2 py-1 rounded-full opacity-70"
									>
										Express.js
									</span>
									<span
										class="text-[10px] bg-neutral-700 px-2 py-1 rounded-full opacity-70"
									>
										Next.js
									</span>
									<span
										class="text-[10px] bg-neutral-700 px-2 py-1 rounded-full opacity-70"
									>
										OpenAI API
									</span>
									<span
										class="text-[10px] bg-neutral-700 px-2 py-1 rounded-full opacity-70"
									>
										Supabase
									</span>
									<span
										class="text-[10px] bg-neutral-700 px-2 py-1 rounded-full opacity-70"
									>
										Whatsapp
									</span>
								</div>
								<div
									class="bg-emerald-700 px-4 py-1 rounded-lg w-fit mt-4"
								>
									<p
										class="text-emerald-200 font-light text-sm"
									>
										Em Produção
									</p>
								</div>
							</div>
							<div
								class="w-[40px] justify-end opacity-0 flex group-hover:opacity-100 transition-all duration-300"
							>
								<span
									class="material-symbols-outlined text-neutral-400"
								>
									arrow_forward_ios
								</span>
							</div>
						</div>
						<!-- Gestão de cantores -->
						<div
							class="hover:bg-neutral-700 p-4 w-full rounded-lg opacity-80 hover:opacity-100 transition-opacity duration-300 cursor-pointer hover:shadow-lg flex gap-4 items-center group transial"
						>
							<div
								class="bg-neutral-500 w-[300px] h-[100px] rounded-lg"
							>
							</div>
							<div class="flex flex-col w-full">
								<h1>Gestão de Cantores</h1>
								<p class="text-sm font-light text-neutral-300">
									Um sistema de gestão para contratação de
									cantores feito com a API do spotify, onde o
									usuário pode buscar por cantores, ver seus
									álbuns e contratar para eventos, projeto de
									aprendizagem.
								</p>
								<div class="flex flex-wrap gap-2 mt-4">
									<span
										class="text-[10px] bg-neutral-700 px-2 py-1 rounded-full opacity-70"
									>
										Typescript
									</span>
									<span
										class="text-[10px] bg-neutral-700 px-2 py-1 rounded-full opacity-70"
									>
										Express.js
									</span>
									<span
										class="text-[10px] bg-neutral-700 px-2 py-1 rounded-full opacity-70"
									>
										Next.js
									</span>
									<span
										class="text-[10px] bg-neutral-700 px-2 py-1 rounded-full opacity-70"
									>
										Laravel
									</span>
									<span
										class="text-[10px] bg-neutral-700 px-2 py-1 rounded-full opacity-70"
									>
										PHP
									</span>
									<span
										class="text-[10px] bg-neutral-700 px-2 py-1 rounded-full opacity-70"
									>
										PostgreSQL
									</span>
									<span
										class="text-[10px] bg-neutral-700 px-2 py-1 rounded-full opacity-70"
									>
										SQLite
									</span>
									<span
										class="text-[10px] bg-neutral-700 px-2 py-1 rounded-full opacity-70"
									>
										Spotify API
									</span>
								</div>
							</div>
							<div
								class="w-[40px] justify-end opacity-0 flex group-hover:opacity-100 transition-all duration-300"
							>
								<span
									class="material-symbols-outlined text-neutral-400"
								>
									arrow_forward_ios
								</span>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script src="../js/index.js"></script>
	</body>
</html>
