---
import "../global.css";
import SitesPage from "../components/ProjectsPage";
---

<html lang="pt-br">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Sites Desenvolvidos - Kayky Zioti</title>
		<link
			rel="stylesheet"
			href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined"
		/>
	</head>
	<body class="bg-neutral-800">
		<SitesPage />
	</body>
</html>
