<div class="flex flex-col">
    <h1 class="text-5xl font-bold text-center m-10">Conteúdo</h1>
    <div class="grid grid-cols-1 md:grid-cols-3 p-5 gap-10 md:gap-4">

        <!-- Primeira coluna -->
        <div class="flex flex-col bg-white p-5 group  rounded-md shadow-2xl border border-gray-200 items-center hover:bg-darkblue hover:text-white transition duration-300 hover:-translate-y-2">
            <div class="flex w-11/12 bg-darkblue text-white group-hover:bg-white group-hover:text-darkblue h-2/5 rounded-2xl mt-[-50px] shadow-xl justify-center items-center p-3 transition duration-300">
                <h1 class="text-9xl font-black">4º</h1>
            </div>
            <div class="flex flex-col mt-3 gap-3 p-4">
                <h1 class="text-5xl font-medium ">Conteúdo 4º Ano</h1>
                <p class="font-light text-justify">Aqui você encontrará todo o conteúdo, materiais e atividades que fazem parte do meu quarto ano na faculdade. Este espaço reúne os conhecimentos, aprendizados e experiências adquiridos ao longo desse período da minha formação acadêmica.</p>
                <a class="flex bg-darkblue p-2 rounded-2xl text-white min-w-[200px] text-center font-medium mt-5 cursor-pointer hover:bg-black hover:text-white transition duration-300 justify-center gap-3 group-hover:bg-white group-hover:text-darkblue">
                    Saiba Mais!
                    <span class="material-icons">
                        arrow_forward
                    </span> 
                </a>
            </div>
        </div>
        
        <!-- Segunda coluna -->
        <div class="flex flex-col bg-white p-5 group  rounded-md shadow-2xl border border-gray-200 items-center hover:bg-darkblue hover:text-white transition duration-300 hover:-translate-y-2">
            <div class="flex w-11/12 bg-darkblue text-white group-hover:bg-white group-hover:text-darkblue h-2/5 rounded-2xl mt-[-50px] shadow-xl justify-center items-center p-3 transition duration-300">
                <h1 class="text-9xl font-black">5º</h1>
            </div>
            <div class="flex flex-col mt-3 gap-3 p-4">
                <h1 class="text-5xl font-medium ">Conteúdo 5º Ano</h1>
                <p class="font-light text-justify">Aqui você encontrará todo o conteúdo, materiais e atividades que fazem parte do meu quinto ano na faculdade. Este espaço reúne os conhecimentos, aprendizados e experiências adquiridos ao longo desse período da minha formação acadêmica.</p>
                <a class="flex bg-darkblue p-2 rounded-2xl text-white min-w-[200px] text-center font-medium mt-5 cursor-pointer hover:bg-black hover:text-white transition duration-300 justify-center gap-3 group-hover:bg-white group-hover:text-darkblue">
                    Saiba Mais!
                    <span class="material-icons">
                        arrow_forward
                    </span> 
                </a>
            </div>
        </div>


        <!-- Terceira coluna -->
        <div class="flex flex-col bg-white p-5 group  rounded-md shadow-2xl border border-gray-200 items-center hover:bg-darkblue hover:text-white transition duration-300 hover:-translate-y-2">
            <div class="flex w-11/12 bg-darkblue text-white group-hover:bg-white group-hover:text-darkblue h-2/5 rounded-2xl mt-[-50px] shadow-xl justify-center items-center p-3 transition duration-300">
                <span class="material-icons !text-9xl">
                    account_box
                </span>
            </div>
            <div class="flex flex-col mt-3 gap-3 p-4">
                <h1 class="text-5xl font-medium ">Projetos Pessoais</h1>
                <p class="font-light text-justify">Aqui você encontrará todo o conteúdo, materiais e atividades que fazem parte do meu quinto ano na faculdade. Este espaço reúne os conhecimentos, aprendizados e experiências adquiridos ao longo desse período da minha formação acadêmica.</p>
                <a class="flex bg-darkblue p-2 rounded-2xl text-white min-w-[200px] text-center font-medium mt-5 cursor-pointer hover:bg-black hover:text-white transition duration-300 justify-center gap-3 group-hover:bg-white group-hover:text-darkblue">
                    Saiba Mais!
                    <span class="material-icons">
                        arrow_forward
                    </span> 
                </a>
            </div>
        </div>

    </div>
</div>
