<div class="h-screen flex flex-col justify-center items-center">
    <div class="bg-darkblue rounded-full h-[200px] w-[200px] hover:scale-105 transition duration-300">
        
    </div>
    <h1 class="text-4xl font-medium m-4">Kayky Zioti</h1>

    <p class="text-justify max-w-[400px] m-5">Sou <strong>Kayky Zioti</strong>, busco aprender para conseguir atingir as minhas expectativas como profissionas, moro em <strong>Jales-SP</strong>,
    já trabalho em programação a algum tempo, desde meados de <strong>2024</strong>, continuo meu caminho do aprendizado, posso não ser o melhor, mas eu darei o meu melhor!
    
    </p>
</div>