---
import { Image } from "astro:assets";
import logoGitHub from "../assets/iconGitHub.png";
import logoLinkedin from "../assets/iconLinkedin.png";
---

<div class="w-full p-3 flex justify-between items-center">
    <h1 class="font-bold text-2xl">KZ.</h1>
    <div class="flex gap-2">
    <div class="flex cursor-pointer group hover:bg-black p-3 rounded-md translate-x-2 hover:translate-x-0 transition duration-300">
        <span class="material-icons transition duration-300 group-hover:text-white">home</span>
        <h1 class="text-white overflow-hidden whitespace-nowrap max-w-0 opacity-0 group-hover:max-w-xs group-hover:opacity-100 transition-all duration-300 ml-2">Home</h1>
    </div>
    <div class="flex cursor-pointer group hover:bg-black p-3 rounded-md translate-x-2 hover:translate-x-0 transition duration-300">
        <span class="material-icons transition duration-300 group-hover:text-white">info</span>
        <h1 class="text-white overflow-hidden whitespace-nowrap max-w-0 opacity-0 group-hover:max-w-xs group-hover:opacity-100 transition-all duration-300 ml-2">Sobre</h1>
    </div>
    <div class="flex cursor-pointer group hover:bg-black p-3 rounded-md translate-x-2 hover:translate-x-0 transition duration-300">
        <span class="material-icons transition duration-300 group-hover:text-white">dashboard</span>
        <h1 class="text-white overflow-hidden whitespace-nowrap max-w-0 opacity-0 group-hover:max-w-xs group-hover:opacity-100 transition-all duration-300 ml-2">Material</h1>
    </div>
    </div>

    <div class="flex gap-2">
        <Image
            src={logoGitHub}
            alt="GitHub"
            width={40}
            class={"cursor-pointer rounded-full hover:bg-gray-200 transition duration-300 hover:shadow-xl"}
        />
        <Image
            src={logoLinkedin}
            alt="GitHub"
            width={40}
            class={"cursor-pointer rounded-full hover:bg-gray-200 transition duration-300 hover:shadow-xl"}
        />
    </div>
</div>
